<p>Olá {{ name }},</p>
<p>Por favor confirme seu endereço de email no link abaixo</p>
<p>

    <p>Aqui está seu código de verificação: {{verificationCode}}</p>
</p>

<p>Se você não requisitou esse email, você pode ignorá-lo</p>
